<a href="/">Top</a><a href="profile">Profile</a>
<h1>Profile</h1>
<img src="/uno.jpg">
<p>2016年に結成</p>
<img src="/tsukada.jpg">
<div class="row">
  <div class="columns medium-10">medium-8</div>
  <div class="columns medium-2">medium-4</div>
</div>