
<div class="main events-index">
    <div class="container">
        <% @events.each do |event| %>
            <div class="events-index-item">
                <%= event %>    
            </div>
        <% end %>
  </div>
</div>