<div class="main events-index">
    <div class="container">
        <% @events.each do |event| %>
            <div class="events-index-item">
                <!--<a href = "/archives/"<%= event.link %>><%= event.title %></a>-->
                <%= link_to(event.title,"/gonow/#{event.link}") %>
            </div>
        <% end %>
  </div>
</div>